
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 60px;
	display: inline-block;
	margin: 15px auto 0 auto;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	left: -50%;
	float: left;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */

.btn.focus, .btn:focus, .btn:hover{color: #fff;}

/* Button 4 */
.btn-4 {
	border-radius: 0;
	border: 0;
	overflow: hidden;
}

.btn-4:active {
	color: #fff;
}

.btn-4:hover {
	background: #ed9c33;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height:45px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #ed9c33;
}

/* Button 4c */
.btn-4c:before {
	left: 93%;
	opacity: 0;
	top: 0;
	color: #fff;
}

.btn-4c:hover:before {
	left: 87%;
	opacity: 1;
	color: #fff;
}

