<apex:page standardController="Mental_Health_Recovery_Star__c"
    standardStylesheets="false"  
    showheader="false"
    sidebar="false"
    applyBodyTag="false"
    applyHtmlTag="false"
    cache="false"
    docType="html-5.0"
    title="Star Comparison"
    >
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- CSS files. These are the same across all star pages.-->
<apex:stylesheet value="{!$Resource.reset_css}"/>
<apex:stylesheet value="{!$Resource.star_css}"/>    
<apex:remoteObjects jsNamespace="RemoteObjectModel">
    <apex:remoteObjectModel name="In_Form__Mental_Health_Recovery_Star__c" jsShorthand="starObjectModel" fields="Id, IsDeleted">
        <!-- star score fields. If you do not specify the namespace prefix and one is present, it will be automatically added when the page is saved. -->
        <apex:remoteObjectField name="In_Form__Managing_mental_health_score__c" />
        <apex:remoteObjectField name="In_Form__Self_care_score__c" />
        <apex:remoteObjectField name="In_Form__Living_skills_score__c" />
        <apex:remoteObjectField name="In_Form__Social_networks_score__c" />
        <apex:remoteObjectField name="In_Form__Work_score__c" />
        <apex:remoteObjectField name="In_Form__Relationships_score__c" />
        <apex:remoteObjectField name="In_Form__Addictive_behaviour_score__c" />
        <apex:remoteObjectField name="In_Form__Responsibilities_score__c" />
        <apex:remoteObjectField name="In_Form__Identity_and_self_esteem_score__c" />
        <apex:remoteObjectField name="In_Form__Trust_and_hope_score__c" />
        <!-- relationship field. If you do not specify the namespace prefix and one is present, it will be automatically added when the page is saved. -->
        <apex:remoteObjectField name="In_Form__Timeline_Event__c" />
        <!-- star date field. If you do not specify the namespace prefix and one is present, it will be automatically added when the page is saved. -->
        <apex:remoteObjectField name="In_Form__Star_date__c" />
    </apex:remoteObjectModel>
    <apex:remoteObjectModel name="In_Form__Star_Configurator_Details__c" jsshorthand="starConfiguratorDetailModel"
        fields="Id,In_Form__Star_Name__c,In_Form__Field_Name__c,In_Form__Score__c,In_Form__Co_ordinate__c,IsDeleted">
    </apex:remoteObjectModel>
</apex:remoteObjects>    
<script>
    $j = jQuery.noConflict();
    $j( document ).ready(function() { 
        // lines 44 - 53 are star-specific
        HOMELESSLINKSTARS.getStarLines(
                            'Mental Health Recovery Star', 
                            '<apex:outputText value="{!JSENCODE(Mental_Health_Recovery_Star__c.Id)}" />',
                            '<apex:outputText value="{!JSENCODE(Mental_Health_Recovery_Star__c.Timeline_Event__c)}" />',
                            '{!URLFOR($Resource.In_Form__Mental_Health_Recovery_Star)}',
                            'Timeline_Event__c',
                            'Star_date__c',
                            'Managing_mental_health_score__c,Self_care_score__c,Living_skills_score__c,Social_networks_score__c,Work_score__c,Relationships_score__c,Addictive_behaviour_score__c,Responsibilities_score__c,Identity_and_self_esteem_score__c,Trust_and_hope_score__c',                                
                            '0.0',
                            '2',
                            '442, 369',
                            '#ee2a2a, #0000cc, #006600, #ff6600, #00ccff, #660099, #ff0066, #ffcc00, #00cc66, #003366, #993300, #000000',
                            '#000000, #6E6E6E, #A8A8A8, #E8E8E8',
                            {!$User.In_Form__Grayscale_Stars__c},
                            '{!JSENCODE(TEXT($User.In_Form__Star_Line_Width__c))}',
                            new RemoteObjectModel.starObjectModel(),
                            new RemoteObjectModel.starConfiguratorDetailModel(),
                            'In_Form__',
                            'In_Form__'
                            );
    });  
</script>        
</head>
    <body>   
        <div id="progress-bar"><img id="progress-bar-img" src="{!$Resource.In_Form__loading}" /></div>
        <span id="chart-component-container"></span>
        <script>
            <apex:includeScript value="{!$Resource.jquery_1_11_2_min_js}"/>
            <apex:includeScript value="{!$Resource.remote_objects_star_min_js}"/>
        </script>
    </body>
</html> 
</apex:page>