.menu-container { 
  width: 85px; 
  height: 23px; 
  float: right; 
  position: relative; 
  z-index: 1200;
}

.menu-container:hover { 
  cursor: pointer; 
}

#bar1 { 
  width: 35px; 
  height: 2px; 
  background-color: #ed9c33; 
  position: absolute; 
  top: 6px; 
  right: 0;
  -webkit-transform: rotate(0deg); 
  -webkit-transform-origin: 9.5px 0px;
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 9.5px 0px; 
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 9.5px 0px;
  transform: rotate(0deg);
  transform-origin: 9.5px 0px;
}
#bar2 { 
  width: 35px; 
  height: 2px; 
  background-color: #ed9c33;
  position: absolute; 
  top: 12px; 
  right: 0; 
  -webkit-transform: rotate(0deg); 
  -webkit-transform-origin: 9.5px 0px;
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 9.5px 0px; 
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 9.5px 0px;
  transform: rotate(0deg);
  transform-origin: 9.5px 0px; }
#bar3 { 
  width: 35px; 
  height: 2px; 
  background-color: #ed9c33; 
  position: absolute; 
  top: 18px; 
  right: 0; 
  -webkit-transform: rotate(0deg); 
  -webkit-transform-origin: 9.5px 0px;
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 9.5px 0px; 
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 9.5px 0px;
  transform: rotate(0deg);
  transform-origin: 9.5px 0px;
}