.THIS .rent-table thead tr th{
    background-color:#f2f3f3;
    border-bottom:2px solid #ccc;
}
.THIS html body.sfdcBody{
    padding:0;
}
.THIS .pageTitle{
    font-size:1.25rem;
}
.THIS{
    padding:0;
}
.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}
.THIS .btn{margin:0 auto;
display:block;}
.THIS .slds-modal__footer .btn + .btn{
    margin:0 auto;
}
.THIS .cuf-content {
    padding: 0!important;
}
.THIS .cuf-content{
    padding:0;
}
.THIS .slds-modal__footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.THIS .Cancelbtn{
    display:none;
    
}
@media(max-width:480px){
    .THIS .slds-modal__footer{
    position: fixed;
    bottom: 0;
    width: 92%;
}
    .THIS .btn{
        display:inline-block;
        
    }
    .THIS .slds-modal__footer .btn + .btn{
    margin-left:0.5rem;
        
}
}