

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	height: 80px; 
	position: relative; 
	top:-1px;
}



/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -10px;
	left: -10px;
	padding: 10px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.hi-icon-effect-1 .hi-icon:after{
	box-shadow: 0 0 0 2.5px #fff;
}

/* Effect 1a */
.orange .hi-icon-effect-1a .hi-icon:hover,
.orange .hi-icon-effect-1a .hi-icon.hover {
	background: rgba(255,255,255,1);
	color: #ED9C33;
}
.blue .hi-icon-effect-1a .hi-icon:hover,
.blue .hi-icon-effect-1a .hi-icon.hover {
	background: rgba(255,255,255,1);
	color: #5896be;
}
.green .hi-icon-effect-1a .hi-icon:hover,
.green .hi-icon-effect-1a .hi-icon.hover {
	background: rgba(255,255,255,1);
	color: #89b283;
}

.hi-icon-effect-1a .hi-icon:hover:after,
.hi-icon-effect-1a .hi-icon.hover:after{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


