
nav a {
	position: relative;
	display: block;
	margin: 25px 15px;
	outline: none;
	color: #788386;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	font: normal 12px 'headlineFont'; 
	padding: 0 0 5px 0;
}

nav a:hover,
nav a:focus {
	outline: none;
	color: #788386;
	text-decoration: none;
}

nav li.active > a{color: #ed9c33; font-weight: bold;}

/* Effect 4: bottom border enlarge */

.cl-effect-4 ul li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	background: #ed9c33;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}

.cl-effect-4 ul li .submenu a::after{display: none;}

.cl-effect-4 a:hover::after,
.cl-effect-4 li.active a::after,
.menu-nav ul li:hover a::after{
	height: 10px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
