@media (max-width: 991px) {
	.width50,
	.width50 *{width: 100%;}
	#wrapper h2{width: 100%; padding: 0 15px;}
	.alert{width: auto; margin: 0 15px; }
	.noresult{width: 100% !important; margin:0 !important;}
}

@media (min-width: 767px) {
	#menu-overlay{display: block !important;}
}

@media (max-width: 767px) {
	#menu-overlay-click{display: block;}
	#menu-overlay{float: none; display: none; position: fixed; width:  100%; height: 100%; background: #fff; left: 0; top:30px;}
	#menu-overlay nav{margin-top: 75px; background: #eeefef; position: absolute; width: 100%; height: 100%; }
	.menu-logo{position: fixed; z-index: 100;}
	.menu a.menu-container{color: #ed9c33; line-height: 25px;}
	.menu a.menu-container:hover,
	.menu a.menu-container:focus{text-decoration: none;}
	
	nav a{margin: 20px 0 0 0;}
	.menu-nav ul{padding: 0 30px;}
	.menu-nav li{float: none; display: block; border: dotted #788386 1px; border-width: 0 0 1px 0;}
	
	.menu-nav ul li .submenu{position: static; height: auto;box-shadow:none; line-height: 1; background: none;
	padding: 5px 30px 10px 30px;
	visibility: visible;
  	opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg); 
    transform: rotateX(0deg);
    position: relative; top: 1px;}
    .menu-nav ul li.active .submenu{ border-bottom: solid #ED9C33 10px;}
	.menu-nav ul li ul{float: none; position: static; height: auto; padding: 0;}
	.menu-nav ul li ul li{float: none; position: static; display: block; border: 0;}
	.menu-nav ul li ul li a{margin: 0;}
	
	.submenu{padding-left: 20px !important;}
	.cl-effect-4 a:hover::after, 
	.cl-effect-4 a:focus::after,
	.cl-effect-4 li.active.hasSubmenu a::after{height: 0;}
	nav li.active ul li a{font-weight:normal;}
	.menu-nav ul li ul li.active a{font-weight: bold; }
	.menu-nav ul li:hover a::after{height: 0;} 
	.menu-nav ul li.active a::after{height: 10px;}
	
	#teaser{padding: 50px 0;}
	
	dl.circle{width: 85px; margin-right: 10px;}
	dl.circle dd{padding: 5px; height: auto; line-height: 15px;}
	dl.circle dd a{font-size: 11px; line-height: 15px;}
	
	.btn.btn-4.btn-4c{padding: 10px 15px;}
	.btn.btn-4.btn-4c:before{display: none;}
	footer{padding-bottom: 20px;}
	.order{display: none;}
	
	.input--minoru .required-star{left:-10px;}
	
	.create-a-new-client dl.circle.orange,
	.edit-a-client dl.circle.orange,
	.create-homelessness-outcomes-star dl.circle.orange,
	.create-needs-assessments dl.circle.orange,
	.create-actions dl.circle.orange,
	.edit-homelessness-outcomes-star dl.circle.orange,
	.edit-needs-assessments dl.circle.orange,
	.edit-actions dl.circle.orange{margin-right: 23px !important;}
	
	.view-my-clients dl.circle.blue,
	.detail-my-clients dl.circle.blue,
	.related-lists dl.circle.blue,
	.view-needs-assessments dl.circle.blue,
	.view-homelessness-outcomes-star dl.circle.blue, 
	.view-actions dl.circle.blue{margin-right: 23px !important;}
	
}

@media (max-height: 767px) {
	.scrollResponsive{overflow-y: auto;height:525px;  }
	.menu-nav li.last{margin-bottom: 30px;}
}