<apex:page standardController="Tenancy__c" extensions="CloseTenancy" showheader="false" sidebar="false" id="pg">
    <apex:includeScript value="{!URLFOR($Resource.jquery_1_11_2_min_js)}"  />
    <script>
        var doc;
        $j = jQuery.noConflict();
        $j(document).ready(function() { 
            $j('.date-cls').focusout(function(){
                doc=$j('.date-cls').val();
            });
        });
        
        function closeAndRefresh(obj) {
            if(obj == 'true'){
                window.top.location.href ="/{!JSENCODE($CurrentPage.parameters.Id)}";
            }
        }
        
        function confirmDelete() {
            var x;
            if(confirm('Are you sure you want to cancel this tenancy on '+doc) == true){
                x = true;
            }
            else{
                x = false;
            }
            return x;

        }
    </script>
    <apex:pageMessage severity="info" strength="3" summary="{!$Label.in_form__disable_buttons_error_msg}" rendered="{!OR($Setup.Org_Defaults__c.Turn_off_Close_Tenancy__c,$Setup.Org_Defaults__c.Turn_off_Rent_Module_Automation__c)}"></apex:pageMessage>
    <apex:form id="fm" rendered="{!NOT(OR($Setup.Org_Defaults__c.Turn_off_Close_Tenancy__c,$Setup.Org_Defaults__c.Turn_off_Rent_Module_Automation__c))}">
        <apex:pageMessages id="msg"/>
        <apex:pageBlock title="Close Tenancy">
            <apex:pageBlockSection >
                <apex:inputField required="true" value="{!tenancy.End_date__c}" styleClass="date-cls"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:variable id="var" value="ras" var="dst"/>
                <apex:commandButton action="{!Save}" reRender="msg,success" value="Save" onclick="return !confirmDelete();" oncomplete="closeAndRefresh('{!isSuccess}');"/> 
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>