<apex:page controller="MassUploadController">
    <style>
        .gen-info{
            background-color:#f2f27f; 
            font-size:14px; 
            border-radius:4px; 
            border:solid 1px #eee;
            padding:10px;
            margin:5px;
        }
    </style>
    <apex:pageMessage severity="info" strength="3" summary="{!$Label.Disable_Buttons_Error_Msg}" rendered="{!OR($Setup.Org_Defaults__c.Turn_off_Rent_Upload__c,$Setup.Org_Defaults__c.Turn_off_Rent_Module_Automation__c)}"></apex:pageMessage>
    <apex:form id="fm" rendered="{!NOT(OR($Setup.Org_Defaults__c.Turn_off_Rent_Upload__c,$Setup.Org_Defaults__c.Turn_off_Rent_Module_Automation__c))}">
       <apex:pageMessages id="pgMsg" escape="true"></apex:pageMessages>
        <apex:PageBlock title="Rent Schedule Mass Upload" >
           <div class="gen-info">
            1.) &nbsp;<apex:outputLink value="{!$Resource.Mass_Upload_Template}">Click here to download template. </apex:outputLink> <br/>
            2.) &nbsp;Enter details for the columns and make sure columns highlighted red must be filled<br/>
            3.) &nbsp;Save the file as .csv(comma delimited).<br/>
            4.) &nbsp;Upload the csv file here to create new Rent Stream Charges and Rent Schedule.<br/>
            </div>
            <apex:PageBlockSection title="Upload Rent Stream">
               <apex:inputFile id="inputF" fileName="{!inputFile.Name}" value="{!inputFile.Body}"></apex:inputFile>
               <apex:commandButton value="Upload" action="{!createRecord}" />
            </apex:PageBlockSection>
        </apex:PageBlock>
        
    </apex:form>
</apex:page>