.THIS {
}

.THIS  .slds-page-header{
   background : #C6E0B4 !important;
   padding : 0rem 1.5rem !important;
}

.THIS.slds-table th {    
    color: black !important;
}

.THIS .slds-text-heading--label {   
   /* text-transform: inherit !important; */
    color: black !important;;
}

.THIS .slds-text-heading--label {
     color: black !important;
    /* text-transform: inherit !important; */
    
}

.THIS .slds-button--neutral{
    margin-left: 45%!important;
}

.THIS .uiSpinner.spinner .loading .spinner-img {
	position: fixed !important;
	height: 60px;
	width: 60px;
}