/*
Class   : createAction_LDS_css
Author  : AKohakade
Details : css will be used in createActions_L visualforce page.
History : v1.0 - 27/02/2018 - Created
*/

.error-Img{     
	max-width: 25px;
}

.bg-red{
	background-color: #F5F6FA;
	padding:6px 18px;
	line-height:2rem;
}

.body-red{
	color: #e91e63;
}   

.bg-grey{
	background-color: #F5F6FA;
	padding:6px 18px;
}
.bg-grey .slds-form-element{
	line-height:1.2rem;
}
.main-container h2{
	font-size:1.25rem !important;
	margin-bottom:1.25rem !important;
	font-weight:400 !important;
}
.main-container h3{
	font-size:1rem !important;
}
.main-container a:focus, .main-container a:hover{
	text-decoration:none;
	outline:none;
}
.action-btn,.action-btn:hover,.action-btn:focus{
	padding:7px;
	background: transparent;
	border: 1px solid #CCD0DB;
}
.main-container.slds-scope .slds-icon{
	fill:#596B8F;
	width:1rem;
	height:1rem;
}
#createActionHeaderPanel .slds-form-element{
	width:100%;
	display:table;
}
#createActionHeaderPanel .select-box{
	width:100%;
}
#createActionHeaderPanel .slds-media__left,#createActionHeaderPanel .slds-media__body{
	display:table-cell;
	vertical-align:middle;
}
#createActionHeaderPanel .slds-media__left {padding-right:8px; width:30px; white-space:normal; word-wrap:break-word;}
#createActionHeaderPanel .select-box select.slds-input{
	padding:0 30px 0 5px;
	height:30px;
	width:96%;
}
.active-client{
	background-color:#EAF4FD;
}
.active-client .action-btn{
	background-color: #4ACA80;
	border-color: #4ACA80;
	box-shadow: none;
	color:#ffffff;
}
.table-wrapper{
	padding:20px;
}
.table-actions{
	padding-top:0.3rem;
	padding-bottom:0rem;
}
.table-wrapper p{
	padding-bottom:0.45rem;
}
.ref-status,.open-status,.rejected-status,.closed-status{
	width:10px;
	height:10px;
	background-color:#FEB65D;
	border-radius:100%;
	display: inline-block;
	margin-right: 5px;
}
.open-status{
	background-color:#03844B;
}

.rejected-status{
	background-color:#F44336;
}

.closed-status{
	background-color:#9e9e9e;
}

.slds-scope .slds-table:not(.slds-no-row-hover) tbody tr:hover>td, .slds-scope .slds-table:not(.slds-no-row-hover) tbody tr:hover>th{
	background-color:transparent;
	box-shadow:none;
	vertical-align:middle;
}
.main-container .slds-form-element__control label{
	font-size:1rem;
	font-weight:600;
	color:#596B8F;
}
.main-container .slds-form-element__label{
	font-size:0.85rem;
}
.top-navigation>div:first-child{
	padding:15px 20px 2px;
}
.pagination-btn button{
	color:#197ED6;
	padding:5px 15px;
	font-size:0.815rem;
	background:#fff;
	border:1px solid #ccc;
	color: #000;	
}
.clients-block .slds-media__left span{
	color: #49CB80;
	font-size: 2rem;
	line-height: 1;
	vertical-align: top;
	margin-right: 0.4rem;
}
.text-blue{
	color:#1489ED !important;
	padding-bottom:0.40rem;
}
.clients-table{
	border:1px solid #ccc;
	border-collapse:collapse;
}
.clients-table thead{
	background-color:#FAFAFA;
}
.clients-table thead>tr>th:first-child,.clients-table tbody>tr>td:first-child{
	padding-left:1rem;
}
.clients-block{
	padding-top:1rem;
}
.search-block{
   position:relative;
}
.search-block .slds-input{
	height:36px;
}
.search-block span{
	position: absolute;
	top: 11px;
	left: 8px;
}

.select-box select{
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance:none;
}
.select-box select::-ms-expand{
	display:none;
} 
.block-btn{
	margin-top: 1.7rem;
	margin-bottom: 1.1rem;
}
.block-btn button.slds-button{
	font-size:0.875rem;
}
.help-block a{
	padding:0 0.75rem;
}
.help-block a:last-child{
	border-left:1px solid #D6D6D6;
	padding-right:0;
}
.select-box>span{
	position:absolute;
	top:0.7rem;
	right:1.2rem;
}
.main-container hr{
	margin:1.275rem 0;
}
.main-container::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A9A9A9;
}
.main-container::-moz-placeholder { /* Firefox 19+ */
  color: #A9A9A9;
}
.main-container:-ms-input-placeholder { /* IE 10+ */
  color: #A9A9A9;
}
.main-container:-moz-placeholder { /* Firefox 18- */
  color: #A9A9A9;
}
#message .slds-modal__header{
	padding:0;
	border:0;
}

#message .slds-modal__content{
	border-radius:0.25rem;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	-ms-border-radius:0.25rem;
}
.close-icon{
	margin-right: 5px;
}
.message-Box{
	padding: 10px;  
	padding-bottom: 10px;       
}
.cards-block .slds-media__body h2{
        font-weight:600;
}
.cards-block .slds-card {
	background:#fff !important;
}
.table-wrapper .action-block{
	display:flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
	-ms-align-items:center;
	flex-direction:row;
	padding:10px 0;
}
@media only screen and (max-width:991px){
	.filter-list li{
		padding:5px 8px;
		border-bottom:1px solid #ccc;
	}	
	.filter-list li:last-child{
		border-bottom:0;
	}
	.filter-header{
		padding:5px 8px;
		color:#ccc;
	}
	.filter-list li>label>span.slds-form-element__label{
		color:#000;
	}
	#createActionHeaderPanel .slds-media__left{
		width:55px;
	}
	#createActionHeaderPanel .select-box{
		width:100%;
		position:relative;
	}
	#createActionHeaderPanel .select-box select.slds-input{
		max-width:450px;
	}
}
@media only screen and (max-width:767px){
	
	.main-container .slds-form-element__label{
		display:inline-block !important;
	}
	.main-container .slds-form-element{
		display:inline-flex !important;
		padding-bottom:0.4rem;
	}
	.main-container .slds-text-align_right{
		text-align:left;
	}
	.main-container .top-navigation h2{
		font-size:1rem;
		margin:0.8rem auto !important;
	}
	.main-container h3{
		font-size:0.9rem !important;
	}
	.block-btn button{
		width:90%;
	}
	.bg-grey{
		border-bottom:1px solid #D6D6D6;
	}
	.bg-grey .slds-form-element__label{
		min-width:3rem;
		line-height:1.2rem;
	}
	.bg-grey .slds-form-element{
		line-height:normal;
	}
	
	.top-navigation>div:first-child{
		padding:10px 5px;
	}
	.top-navigation .action-block{
		border-top:1px solid #D6D6D6;
		border-bottom:1px solid #D6D6D6;
	}
	.search-block{
		margin-bottom:10px;
	}
	.card-content .slds-item_label{
		width:45%;
		padding-bottom:8px;
	}
	.card-content .slds-item_detail{
		width:55%;
		padding-bottom:8px;
	}
	.cards-block hr{margin: 1rem 0 !important;}
	.table-wrapper{
		padding:10px 5px;
	}
	.filter-list li{
		padding:5px 8px;
		border-bottom:1px solid #ccc;
	}	
	.filter-list li:last-child{
		border-bottom:0;
	}
	.filter-header{
		padding:5px 8px;
		color:#ccc;
	}
	.filter-list li>label>span.slds-form-element__label{
		color:#000;
	}
	.card-content .slds-media.slds-media_center{
		align-items:flex-start;
		-webkit-align-items:flex-start;
		-moz-align-items:flex-start;
		-ms-align-items:flex-start;
	}
	.action-block > div{
		width:50%;
		text-align:center;
		margin:0 auto;
	}
	.action-block > div > button,.action-block > div > button:hover,.action-block > div > button:focus{
		width:80%;
		height:35px;		
		line-height:normal;		
		border-radius:0 !important;
		outline:none;
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-ms-box-shadow:none;
	}
	.action-block button.slds-button_icon.slds-button_icon-border-filled{ width:100%;}
	.table-wrapper .text-blue{
		padding:0.5rem 0;
	}
	.table-wrapper p{
		padding-bottom:0;
	}
	.bg-grey label.slds-form-element__label{
		font-size:1rem;
		min-width:60px;
		max-width:60px;
		white-space:normal;
		word-wrap:break-word;
	}
	.table-wrapper hr{margin: 1rem 0;}
	#createActionHeaderPanel .slds-media__left{padding-right:0;}
	#createActionHeaderPanel .select-box select.slds-input{width:100%;}
}