.input {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	/*max-width: 350px;*/
	width: /*calc(100% - 2em)*/ 100%;
	vertical-align: top;
	padding-bottom: 28px;
}

.input__field {
	position: relative;
	display: block;
	padding: 1em 35px;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #788386;
	color: #dcddde;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	height: 45px;
}

.input__field.error{box-shadow: 0px 0px 0px 1px #EBCCD1 !important; background: #F2DEDE !important; }

.input__field:focus {
	outline: none;
}

.input__label {
	display: block;
	padding: 0 1em;
	width: 40%;
	color: #788386;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: normal;
	margin: 0;
  animation: animationFramesB linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  animation-fill-mode:forwards;
  -webkit-animation: animationFramesB linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -webkit-animation-fill-mode:forwards;
  -moz-animation: animationFramesB linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -moz-animation-fill-mode:forwards;
  -o-animation: animationFramesB linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -o-animation-fill-mode:forwards;
  -ms-animation: animationFramesB linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
  -ms-animation-fill-mode:forwards;

}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Minoru */
.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 0 transparent;
	color: #788386;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
	position: absolute;
	top: -28px;
	left: 0;
}

.effect--minoru::after {
	content: '';
  	position: absolute;
  	z-index: -1;
  	width: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(237,156,51, 0.6);
	left: 0;
	right:0;
	top: 0;
	bottom:0;
	height: auto;
	margin-bottom: 28px;
}

.input__field.error + .effect--minoru::after{
	box-shadow: none !important;
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 1px #939598;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .effect--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 5px 0 0 0;
}



.input__field--minoru:focus ~ .input__label--minoru{
  animation: animationFrames linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  -webkit-animation: animationFrames linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; 
  -moz-animation: animationFrames linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; 
  -o-animation: animationFrames linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; 
  -ms-animation: animationFrames linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; 
}

@keyframes animationFrames{
  0% {
    transform:  translate(15px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(15px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(15px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(15px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(15px,0px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}





@keyframes animationFramesB{
  0% {
    
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(15px,0px)  ;
  }
}

@-moz-keyframes animationFramesB{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    -moz-transform:  translate(15px,0px)  ;
  }
}

@-webkit-keyframes animationFramesB {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(15px,0px)  ;
  }
}

@-o-keyframes animationFramesB {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    -o-transform:  translate(15px,0px)  ;
  }
}

@-ms-keyframes animationFramesB {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    -ms-transform:  translate(15px,0px)  ;
  }
}

.input--minoru .required-star{position: absolute; top:12px; left: -30px;width: 20px; height: 20px; margin: 0 !important; text-align:center;}
.input--minoru .required-star span{margin: 0 !important; text-align:center; /*text-indent:1px;*/}

.select--minoru{position: absolute;right: 30px; top: 15px; z-index: 10; color: #fff; top: 10px; right: 15px; font-size: 20px;}

