.THIS{
    padding:0!important;
}
.THIS .input-center{
    width:50%!important;
}
.THIS .custom_footer{
    position: fixed;
    bottom: 0;
    float: left;
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.THIS iframe html{
    overflow-y:hidden;
    }
@media(max-width:480px){
    .THIS .phone iframe{
        height:95vh;
    }
}